.App {
  text-align: center;
}
.card {
  margin-left: 50px;
}
.demo{
  text-align: center;
    color: blue;
    background-color: pink;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 0px;
}
.lock1
{
  padding-left: 20px;
  padding-right: 20px;
  /* border: 1px solid black; */
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 20px;
}
.foot {
  margin-left: 400x;
}
.ca1 {
  margin-left: 0px;
  margin-right: 0px; 
  height: 20px;
}

.demo5 {
  height: 1000px;
   background-image:url("https://i.pinimg.com/originals/70/f8/cd/70f8cde36d9286869ed7fd7449d92581.jpg"); 
   background-repeat: no-repeat;
   background-size: cover;
}
.ma{
  height: 600px;
  background-size: cover;
   background-image: url("https://st3.depositphotos.com/7662228/12723/v/950/depositphotos_127231016-stock-illustration-banking-mechanism-abstract-background-with.jpg"); 
}

.jumb{
  background-color:#eee;
   color:black;
}
.demo4{
  background-image: url("https://i.pinimg.com/originals/70/f8/cd/70f8cde36d9286869ed7fd7449d92581.jpg");
  background-size: cover;
  height: 550px;
}

.user{
  background-image: url("https://i.pinimg.com/originals/70/f8/cd/70f8cde36d9286869ed7fd7449d92581.jpg");
  background-size: cover;
  height: 600px;
}
.demo7{
  
  background-image: url("https://i.pinimg.com/originals/70/f8/cd/70f8cde36d9286869ed7fd7449d92581.jpg");
  background-size: cover;
  height: 1000px;

}
.demo1 {
  background-color:aquamarine;
  background-size: cover;
  height: 600px;
}

.demo2{

  background-image:url("https://i.pinimg.com/originals/70/f8/cd/70f8cde36d9286869ed7fd7449d92581.jpg");
  background-size: cover;
  height: 1000px;
}



.currentadd {
  margin-top: 0px;
  background-image:url("https://i.pinimg.com/originals/70/f8/cd/70f8cde36d9286869ed7fd7449d92581.jpg");
  background-size: cover;
  height: 1000px;
}

.home {
  background-image:url("https://i.pinimg.com/originals/70/f8/cd/70f8cde36d9286869ed7fd7449d92581.jpg");
  background-size: cover;
  
}
h3 {
  text-align: center;
    color: white;
    background-color:#a73060;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 0px;
    width:30rem;
    height:3rem;
    
}

.demo6 {
  
  background-image: url("https://i.pinimg.com/originals/70/f8/cd/70f8cde36d9286869ed7fd7449d92581.jpg");
  background-size: cover;
  height: 600px;
}
.cass{
   width: 22rem;
     margin-left: 55px;
}

.cass1{
   width: 24rem;
   margin-left:30rem; 
}
.cardT{
color: white;
 font-family: serif;
  font-size: 40px;
  text-align: center;
   margin-top: 90px ;
}

.fromlab{
  margin-right: 300px;
  font-size: 15px ;
}
.cardbody{
 background:linear-gradient(180deg, rgb(119, 0, 255), rgb(225, 173, 230));

}

.edit1{
  background:#a73060;
  height:2rem;
  width:10rem;
  margin-left:5rem;
  color:white;
}
.nav{
  background:'blue';
}
.view{
  background-image:url("https://i.pinimg.com/originals/70/f8/cd/70f8cde36d9286869ed7fd7449d92581.jpg");
   background-repeat:no-repeat;
    background-size:cover;
     height:600px;
}

.view1{
  background:#a73060;
  height:3rem;
  width:10rem;
  margin-left:35rem;
  color:white;
}

.demo3 {
  background-image: url("https://i.pinimg.com/originals/70/f8/cd/70f8cde36d9286869ed7fd7449d92581.jpg");
  background-size: cover;
  height: 650px;
}
.ul1 {
  font-style: oblique;
  list-style: none;
  color:black;
}

Nav.link{
  color:black;
}

.left{
  margin-right: 200px;
  font-style: italic;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
